/*botones*/
.botones-container {
  margin-top: 12rem;
  display: flex;
  justify-content: left;
  gap: 6.25rem;
  margin-left: 6rem;
}
.btn-publicar {
  background-color: #2e7d32;
  color: white;
  border: 0.125rem solid #2e7d32;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  font-size: 1rem;
}
.btn-publicar:hover {
  background-color: orange;
  color: white;
  border: 0.125rem solid orange;
}
.btn-explorar {
  background-color: #2e7d32;
  color: white;
  border: 0.125rem solid #2e7d32;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  font-size: 1rem;
}
.btn-explorar:hover {
  background-color: orange;
  color: white;
  border: 0.125rem solid orange;
}
.btn-recomen {
  background-color: #828382;
  color: white;
  border: 0.125rem solid #828382;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  font-size: 1rem;
}
.btn-recomen:hover {
  background-color: orange;
  color: white;
  border: 0.125rem solid orange;
}
/*materiales*/
.seccion-inicio {
  padding: 3rem 1rem;
  text-align: center;
  background-color: white;
}
.div-gral-mat {
  display: flex;
  justify-content: center;
  gap: rem;
  margin-top: 2.5rem;
  flex-wrap: wrap;
  gap: 8rem;
}

.div-mat-item {
  width: 22rem;
  text-align: center;
}
.div-mat-texto {
  flex: 1;
}
.div-mat-texto h3 {
  color: black;
  margin-bottom: 1.875rem;
}
.div-tnd-texto p {
  color: black;
  line-height: 1.5;
  text-align: justify;
  margin: 0.3rem 0;
}
.div-mat-img {
  flex: 1;
}
.div-mat-img img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
}
.btn-contactar {
  margin-top: 1rem;
  background-color: orange;
  color: white;
  border: 0.125rem solid orange;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}

.btn-contactar:hover {
  background-color: #828382;
  color: white;
  border: 0.125rem solid #828382;
}
