@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*botones*/
.botones-container {
  margin-top: 12rem;
  display: flex;
  justify-content: left;
  gap: 6.25rem;
  margin-left: 6rem;
}
.btn-publicar {
  font-family: "Montserrat", sans-serif;
  background-color: #2e7d32;
  color: white;
  border: 0.125rem solid #2e7d32;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.313rem;
  font-size: 1rem;
}
.btn-publicar:hover {
  background-color: orange;
  color: white;
  border: 0.125rem solid orange;
}
.btn-explorar {
  background-color: #2e7d32;
  color: white;
  border: 0.125rem solid #2e7d32;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.313rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.btn-explorar:hover {
  background-color: orange;
  color: white;
  border: 0.125rem solid orange;
}
.titulo-recomen {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 5rem;
  margin-bottom: 1rem;
  margin-left: 6rem; 
  color: black; 
  font-family: "Montserrat", sans-serif;
}
/*materiales*/
.seccion-inicio {
  padding: 3rem 1rem;
  text-align: center;
  background-color: white;
}
.div-gral-mat {
  display: flex;
  justify-content: center;
  gap: rem;
  margin-top: 2.5rem;
  flex-wrap: wrap;
  gap: 8rem;
}

.div-mat-item {
  width: 22rem;
  text-align: center;
}
.div-mat-texto {
  font-family: "Montserrat", sans-serif;
  flex: 1;
  cursor: pointer;
}
.div-mat-texto h3 {
  font-family: "Montserrat", sans-serif;
  color: black;
  margin-bottom: 1.875rem;
}
.div-tnd-texto p {
  font-family: "Montserrat", sans-serif;
  color: black;
  line-height: 1.5;
  text-align: justify;
  margin: 0.3rem 0;
}
.div-mat-img {
  flex: 1;
}
.div-mat-img img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  cursor: pointer;
}
.btn-contactar {
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
  background-color: orange;
  color: white;
  border: 0.125rem solid orange;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.313rem;
}

.btn-contactar:hover {
  background-color: #828382;
  color: white;
  border: 0.125rem solid #828382;
}
.titulo-material {
  position: relative;          /* El corazón se posicionará respecto al título */
  text-align: center;          /* El h3 queda centrado como si estuviera solo */
  margin-bottom: 1rem;
  padding: 1rem 0;
}

.titulo-material h3 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
}

/* BTON del corazón */
.btn-corazon {
  position: absolute;
  left: 50%;                     /* Punto base: el centro del título */
  transform: translateX(140%);   /* Lo movemos hacia la derecha */
  top: 50%;
  transform: translate(140%, -50%);

  background: none;
  border: none;
  font-size: 1.5rem;
  color: #aaa;
  cursor: pointer;
  transition: 0.2s;
}

.btn-corazon:hover {
  color: green;
  transform: translate(140%, -50%) scale(1.15);
} 

/*  marcado */
.btn-corazon.favorito {
  color: green;
}

/*RESPONSIVEE*/
@media (max-width: 768px) {
  /* BOTONES */
  .botones-container {
    margin-top: 12rem;
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .btn-publicar,
  .btn-explorar{
    width: 100%;
    max-width: 20rem;
    text-align: center;
  }

  .titulo-recomen {
    text-align: center;
    margin-left: 0;
  }
  /* MATERIALES */
  .div-gral-mat {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .div-mat-item {
    width: 100%;
    max-width: 22rem;
  }

  .div-mat-img img {
    height: 12rem;
  }

  .seccion-inicio {
    padding: 2rem 1rem;
  }

  .btn-corazon {
  font-size: 1.6rem; 
  }

  .div-tnd-texto p {
    text-align: left;
  }
}











