@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); 
.contenedor-login { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  position: relative; 
  font-family: "Montserrat", sans-serif; 
  padding: 1.5rem 0rem; 
  overflow-x: hidden; } 
.fondo-superior { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 50%; 
  background: url("logo/fondo3.png"); 
  background-repeat: no-repeat; 
  background-size: 100% 100%; 
  z-index: 0; } 
.fondo-inferior { 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  height: 50%; 
  background-color: #f7a658; 
  z-index: 0; } 
.caja-login { 
  font-family: "Montserrat", sans-serif; 
  position: relative; 
  background: white; 
  padding: 2.5rem; 
  border-radius: 0.625rem; 
  width: 90%; 
  max-width: 22rem; 
  text-align: center; 
  z-index: 1; 
  overflow: hidden; } 
.etiqueta-texto { 
  font-family: "Montserrat", sans-serif; 
  display: block; 
  text-align: left; 
  font-weight: 600; 
  margin-bottom: 0.3125rem; 
  margin-top: 0rem; 
  color: black; 
  font-size: 0.9rem; } 
.grupo-input { 
  font-family: "Montserrat", sans-serif; 
  display: flex; 
  align-items: center; 
  background: gray; 
  color: white; 
  padding: 0.5rem 0.6rem; 
  border-radius: 3rem; 
  margin-bottom: 1.25rem; } 
.grupo-input input { 
  font-family: "Montserrat", sans-serif; 
  width: 100%; 
  border: none; 
  background: transparent; 
  outline: none; 
  font-size: 1rem; 
  color: white; } 
.grupo-input input::placeholder { 
  color: white; opacity: 0.6; } 
.boton-login { 
  width: 100%; 
  padding: 0.75rem; 
  border: none; 
  border-radius: 0.3125rem;
  background-color: orange; 
  color: white; 
  font-size: 1rem; 
  cursor: pointer; 
  margin-top: 0.625rem; } 
.boton-login:hover { 
  background-color: gray; } 
/* LK */ 
.registrarse, .contacto { 
  display: block; 
  margin-top: 0.5rem; 
  font-size: 0.5625rem; 
  color: #0b702e; 
  text-decoration: none; 
  font-size: 0.8rem; 
  margin-bottom: 1rem; } 
.olvido-contrasena { 
  display: block; 
  margin-bottom: 1rem; 
  margin-top: -0.4rem; 
  font-size: 0.5625rem; 
  color: #0b702e; 
  text-decoration: none; 
  font-size: 0.8rem; } 
.olvido-contrasena:hover, .registrarse:hover, .contacto:hover { 
  text-decoration: underline; } 
.otro-metodo { 
  margin: 0.3125rem 0; 
  font-size: 0.5625rem; 
  color: black; 
  font-size: 0.8rem; 
  margin-top: 2rem; } 
.redes-sociales { 
  justify-content: center; 
  cursor: pointer; 
  display: flex; 
  flex: 1; 
  min-width: 300px; 
  gap: 1.5rem; 
  margin-top: 1rem; 
  margin-bottom: 1rem; } 
.social-icon { 
  width: 40px; 
  height: 40px; 
  margin-right: 0.5rem; 
  transition: transform 0.2s ease-in-out; } 
.social-icon:hover { 
  transform: scale(1.2); }
