@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* BOTÓN HAMBURGUESA (oculto en desktop) */
.menu-hamburguesa {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  z-index: 2000;
}
/*oculto en desktop*/
.saludo-mobile {
  font-family: "Montserrat", sans-serif;
  display: none;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 1rem;
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .saludo-mobile {
    display: block;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: 1rem;
  }

  .topheader {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .menu-hamburguesa {
    display: block;
    margin-left: auto;
    margin-right: 2rem;
  }

  .Menu-Horizontal {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 1rem 0;
    gap: 0;
    border-top: 1px solid #ddd;
    z-index: 1500;
  }

  .Menu-Horizontal.active {
    display: flex;
  }

  .Menu-Horizontal li {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
    display: block;
  }

  .Menu-Horizontal li:hover {
    background-color: orange;
    color: white;
  }
  .Menu-Horizontal li:hover a {
    background-color: orange;
    color: white;
}
  /* Submenú */
  .Menu-Vertical {
    background-color: white;
    position: relative;
    width: 100%;
    border-top: 1px solid #eee;
    transform: none;
    margin-top: 0.8rem;
  }

  .buscador-general {
    top: 6.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: -0.4rem;
  }

  .barra input {
    max-width: 74.5%;
  }

  .icono-filtro {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
