@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*TITULO PERFIL :)*/
.perfil-titulo {
  padding: 2rem 3rem;
  color: white;
  background-color: green;
  font-family: "Montserrat", sans-serif;
}

.perfil-titulo h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10rem;
  margin-left: 3rem;
  margin-bottom: 0rem;
}

.perfil {
  max-width: 40%;
  margin-top: 2rem;
  margin: 2rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.perfil-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ICONO */
.perfil-avatar {
  width: 90px;
  height: 90px;
  background-color: purple;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
}

/* NOMBRE + ICONO */
.perfil-nombre {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.perfil-nombre h2 {
  font-size: 1.2rem;
}

.icono-editar {
  width: 18px;
  cursor: pointer;
}

/* FORMULARIO NO EDITABLE */
.perfil-info {
  border: 3px solid green;
  border-radius: 0.6rem;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  max-width: 79rem;
  margin: 2rem auto;
  background-color: white;
  font-size: 1.1rem;
}

.perfil-campo {
  margin-bottom: 1rem;
}

.perfil-campo label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
}

.valor {
  display: inline-block;
  background-color: gray;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 20px;
  font-size: 1rem;
}

.ultima-modificacion {
  font-size: 0.9rem;
  color: gray;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.btn-perfiledit {
  background-color: orange;
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.313rem;
  cursor: pointer;
  font-size: 1rem;
  width: 30%;
  display: block;
  margin: 0 auto;
}

.btn-perfiledit:hover {
  background-color: #828382;
}

/*RESPONSIVEE*/
@media (max-width: 768px) {
  .perfil-titulo h2 {
    text-align: center;
    margin-left: 0;
    margin-top: 11rem;
  }

  .perfil {
    max-width: 100%;
    width:100%;
    margin-top: 2rem;
  }

  .perfil-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .perfil-nombre {
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5rem;
    gap: 0.7rem;
  }

  .perfil-nombre h2 {
    font-size: 1.3rem;
    text-align: center;
  }

  .icono-editar {
    width: 22px;
  }

  .perfil-info {
    width: 100% ;
    max-width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1.5rem auto;
    overflow: hidden;
  }

  .perfil-campo label {
    font-size: 1.1rem;
  }

  .valor {
    font-size: 1rem;
    padding: 0.55rem 1rem;
  }

  .ultima-modificacion {
    font-size: 0.85rem;
  }

  .btn-perfiledit {
    width: 60%;
    font-size: 1rem;
    padding: 0.7rem 1.2rem;
  }
}
