@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.body {
  margin: 0;
  padding: 0;
}
.footer {
  background-color: #424242; 
  color: white;
  padding: 2.5rem 1rem;
  font-family: "Roboto", sans-serif;
}


.footer-container {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
  gap: 4rem;
  padding: 0 2rem;
}

/* subs */
.footer-column {
  list-style: none;
  flex: 0 0 auto;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.footer-column h4 {
  margin-bottom: 1rem;
  font-size: 1.15rem;
  font-weight: bold;
}

/* Enlaces legales */
.footer-column {
  flex: 1;
  min-width: 200px;
}
footer ul,
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-column a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin: 0.4rem 0;
}

.footer-column a:hover {
  color: #fff;
}

/* Redes sociales con íconos */
.footer-social {
  flex: 1;
  min-width: 200px;
}

.social-icon {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.2);
}

/* ResponsiveEEEE */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-social img {
    margin-bottom: 0.5rem;
  }
}




