@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* PERFIL */
.publicaciones {
  padding: 2rem 3rem;
  margin-top: 9rem;
  margin-left: 3rem;
  font-family: "Montserrat", sans-serif;
}

/*PUBLICACIONES */
.lista-publicaciones {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-bottom: 4rem;
}

.publicacion-item {
  display: flex;
  gap: 1.5rem;
  background: white;
  font-family: "Montserrat", sans-serif;
}

.publicacion-imagen {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.publicacion-contenido {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-top: -1rem;
}

.publicacion-estado {
  width: 19%;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: green;
  color: white;
  padding: 0.625rem 1.25rem;
  border-radius: 0.313rem;
}

.publicacion-menu {
  margin-left: auto;
  font-size: 2rem;
  cursor: pointer;
  margin-top: -0.49rem;
}
.publicacion-contenido h3 {
  font-size: 1.5rem;
}

/*RESPONSIVEE*/
@media (max-width: 768px) {
  .publicaciones {
    padding: 1rem;
    margin-left: 0;
    margin-top: 10rem;
    text-align: center;
  }

  .publicaciones h2 {
    text-align: center !important;
    width: 100%;
  }

  .lista-publicaciones {
    width: 90%;
    padding: 0 1rem;
  }

  .publicacion-item {
    position: relative;
    flex-direction: column;
    width: 90%;
    align-items: center;
    padding-bottom: 1rem;
  }

  .publicacion-imagen {
    width: 80%;
    height: 14rem;
    object-fit: cover;
  }

  .publicacion-menu {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 1.7rem;
  }

  .publicacion-contenido {
    width: 80%;
    text-align: left;
    margin-top: 1rem;
    gap: 0.2rem;
  }

  .publicacion-contenido h3 {
    font-size: 1.3rem;
    margin-bottom: 0.1rem;
  }

  .publicacion-estado {
    width: fit-content;
    padding: 0.4rem 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  .publicacion-contenido p {
    font-size: 0.95rem;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
  }
}
