/* ====== FUENTE GENERAL ====== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*TITULO PUBLICAR :)*/

.publicar-container {
  padding: 2rem 3rem;
  margin-top: 10rem;
  font-family: "Montserrat", sans-serif;
}

.titulo-publicar {
  padding: 2rem 3rem;
  color: white;
  background-color: green;
  font-family: "Montserrat", sans-serif;
}

.titulo-publicar h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10rem;
  margin-left: 3rem;
  margin-bottom: 0rem;
}

/* =========================
   FORMULARIO
   ========================= */
.form-publicar {
  margin-top:5rem;
  display: flex;
  flex-direction: column;
  gap: rem;
  width: 90%;
  margin-left: 3rem;
   font-family: "Montserrat", sans-serif;
}

.campo label {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.campo input {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background: #fafafa;
}

/* 2 en línea */
.campo.duo {
  display: flex;
  gap: 1rem;
}

.campo.duo div {
  flex: 1;
}

/* 3 en línea */
.campo.trio {
  display: flex;
  gap: 1rem;
}

.campo.trio div {
  flex: 1;
}

/* =========================
   IMÁGENES
   ========================= */
.imagenes-section {
  margin-left: 3rem;
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
}

.imagenes-grid {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-plus {
  width: 8rem;
  height: 8rem;
  border-radius: 0.7rem;
  border: none;
  background: #e6e6e6;
  font-size: 3rem;
  cursor: pointer;
}

/* =========================
   ARCHIVOS ADJUNTOS
   ========================= */
.archivos {
  margin-left: 3rem;
  margin-top: 3rem;
  font-family: "Montserrat", sans-serif;
}

.archivos-input {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-add-file {
  background-color: green;
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}


.contenedor-publicar {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}


/*BOTONNNNNNNNNNNNNNNNNN*/
.btn-publicar-final {
  background-color: orange;
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.313rem;
  cursor: pointer;
  font-size: 1rem;
  width: 30%;
  display: block;
  margin: 0 auto;
}

.btn-publicar-final:hover {
  background-color: #828382;
  color: white;
  border: 0.125rem solid #828382;
}
