/* ====== FUENTE GENERAL ====== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*TITULO PUBLICAR :)*/
.titulo-publicar {
  padding: 2rem 3rem;
  color: white;
  background-color: green;
  font-family: "Montserrat", sans-serif;
}
.seccion-formulario,
.formulario-publicar,
.campo,
.ancho,
.alto,
.largo,
.cantidad,
.precio,
.input-span {
  text-align: left !important;
  align-items: flex-start !important;
}
.titulo-publicar h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10rem;
  margin-left: 3rem;
  margin-bottom: 0rem;
}

.seccion-publicar {
  padding: 2rem 3rem;
  font-family: "Montserrat", sans-serif;
}
.seccion-publicar p{
  max-width: 76.5rem;
  margin: 2rem auto;
}
/*FORM*/
.seccion-formulario {
  border: 3px solid green;
  background: white;
  padding: 2rem;
  border-radius: 0.6rem;
  margin: 2rem auto;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  max-width: 76rem;
}
.formulario-publicar {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.fila-2 {
  margin-bottom: 2rem; 
}
.campo label {
  margin.top: 0.3rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
  display: block;
}
.campo input,
.campo select {
  padding: 0.5rem;
  border: 1px solid #fafafa;
  border-radius: 0.4rem;
  font-family: "Montserrat", sans-serif;
  background: #fafafa;
  width: 60%;
}
.fila-3 section,
.fila-2 section {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.fila-3 {
  display: flex;
  gap: 2rem; 
}

.fila-3 section input {
  width: 73%; 
}

.fila-2 {
  display: flex;
  gap: 2rem;
}

.fila-2 section input {
  width: 73%;
}

.peso-grupo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
}
.peso-grupo input {
  width: 90%;
}

/*IMG */
.seccion-imagenes {
  margin:3rem auto;
  max-width: 76rem;
  font-family: "Montserrat", sans-serif;
}

.imagenes-grid {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.btn-plus {
  width: 7rem;
  height: 7rem;
  border-radius: 0.7rem;
  border: none;
  background: #e6e6e6;
  font-size: 3rem;
  cursor: pointer;
}

/*ARCHIVOS*/
.seccion-archivos {
  margin-top: -2rem;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-left: auto;
  max-width: 76rem;
  font-family: "Montserrat", sans-serif;
}
.seccion-archivos .campo {
  display: flex;
  align-items: center;
  gap: 1.5rem; 
}

.seccion-archivos select {
  padding: 0.5rem;
  border: 2px solid green; 
  border-radius: 0.4rem;
  width: 60%;            
  background: #fafafa;
}
.btn-add-file {
  background-color: green;
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}


.contenedor-publicar {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 3rem 0;
}
.btn-borrador {
  background-color: gray;
  color: white;
  border: 0.125rem solid gray;
  padding: 0.8rem 1.6rem;
  border-radius: 0.313rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}
.btn-borrador:hover {
  background-color: #7d7d7d;
  color: white;
  border: 0.125rem solid #7d7d7d;
}

/*BOTONNNNNNNNNNNNNNNNNN*/
.btn-publicar-final {
  background-color: orange;
  color: white;
  border: 0.125rem solid orange;
  padding: 0.8rem 1.6rem;
  border-radius: 0.313rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}

.btn-publicar-final:hover {
  background-color: #828382;
  color: white;
  border: 0.125rem solid #828382;
}

/*RESPONSIVEEEE*/
@media (max-width: 768px) {

  .titulo-publicar h2 {
    text-align: center;
    margin-left: 0;
    margin-top: 11rem;
  }

  .seccion-publicar {
    padding: 1rem;
  }

  .seccion-publicar p {
    max-width: 100%;
    margin: 1rem auto;
    text-align: left;
  }

  .seccion-formulario {
    max-width: 100%;
    padding: 1.5rem 1.2rem;
    box-sizing: border-box;
  }

  .formulario-publicar {
    gap: 1.2rem;
  }

  .campo {
    width: 100%;
    margin: 0 auto;
  }

  .campo label {
    padding-left: 0.2rem;
  }

  .campo input{
    width: 90%;
    padding: 0.7rem;
    font-size: 1rem;
  }
  .campo select {
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
  }

  .fila-3,
  .fila-2 {
  display: flex !important;
  flex-direction: column !important;
  gap: 1.2rem;
}

  .ancho ,
  .alto ,
  .largo ,
  .cantidad ,
  .precio {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
  .ancho label,
  .alto label,
  .largo label,
  .cantidad label,
  .precio label {
    text-align: left !important;
    font-weight: 600;
    margin-left: 0.3rem;
  }
  
  .ancho  input,
  .alto  input,
  .largo  input,
  .cantidad  input,
  .precio  input {
  width: 100%; 
  margin-bottom: 0.4rem;
}
.input-span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

  .input-span input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
}

  .input-span span {
  
  font-weight: 600;
  white-space: nowrap; /* NO SE SUBE NI BAJA */
  margin-right: 0.3rem;
}
  .imagenes-section {
    max-width: 100%;
    margin: 2rem auto;
  }

  .imagenes-grid {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
  }

  .btn-plus {
    width: 6rem;
    height: 6rem;
    font-size: 2.5rem;
  }

  .seccion-archivos {
    max-width: 100%;
    margin: 1rem auto 5rem;
    padding: 0 1rem;
  }

  .seccion-archivos .campo {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
  }

  .seccion-archivos select {
    width: 100%;
    padding: 0.7rem;
  }

  .btn-add-file {
    width: 100%;
    text-align: center;
    padding: 0.8rem;
  }

  .btn-publicar-final {
    width: 80%;
    font-size: 1rem;
    padding: 0.9rem;
  }

  .contenedor-publicar {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

  .btn-borrador,
  .btn-publicar-final {
  width: 80%;
  max-width: 22rem;
  text-align: center;
  }
  .btn-borrador {
  order: 1;
}

  .btn-publicar-final {
  order: 2;
  }
}
