@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

/* ===== FONDOS ===== */

.registro-fondo-superior {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48vh; /* un poco menos */
  background: url("logo/fondo3.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.registro-fondo-inferior {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 52vh;
  background: #f7a658;
  z-index: 0;
}

/* ===== CAJA PRINCIPAL ===== */

.registro-container {
  position: relative;
  z-index: 10;
  background: white;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 24rem; /* un poco más estrecho */
  margin: 1.5rem auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  height: auto;
}

/* LOGO */
.logo-registro {
  width: 130px;
  margin-bottom: 0.5rem;
}

/* BARRA DE PROGRESO */
.linea {
  width: 70%;
  height: 5px;
  background: #ddd;
  border-radius: 5px;
  margin: 1rem auto 1.5rem;
  overflow: hidden;
}
.linea::after {
  width: var(--after-width, 0%);
}
.linea::after {
  content: "";
  display: block;
  height: 100%;
  width: 0%;
  background: orange;
  transition: width 0.3s ease;
}

/* TIPO DE PERSONA */
.tipo-persona p {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.radio-label {
  display: block;
  font-size: 0.9rem;
  margin: 0.3rem 0;
  cursor: pointer;
}

.radio-label input[type="radio"] {
  accent-color: #0b702e; /* VERDE */
}

/* FORMULARIOS CON SCROLL */
.form-scroll {
  max-height: 33vh;
  overflow-y: auto;
  padding-right: 0.5rem;
  margin-top: 1rem;
}

/* FORMULARIO */
.form-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.form-section label {
  font-weight: 600;
}

.form-section input {
  padding: 0.75rem;
  border: none;
  border-radius: 2rem;
  background: #8f8f8f;
  color: white;
  font-size: 0.9rem;
}

.form-section input::placeholder {
  color: #e9e9e9;
}

.oculto {
  display: none;
}

/* TÉRMINOS */
.terminos {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0 1.5rem; /* MÁS ESPACIO */
  font-size: 0.85rem;
  cursor: pointer;
}

.terminos input[type="checkbox"] {
  accent-color: #0b702e; /* VERDE */
}

/* BOTÓN */
.registro-boton button {
  width: 100%;
  padding: 0.9rem;
  background: orange;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

.registro-boton button:hover {
  background: gray;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 600px) {
  .registro-fondo-superior,
  .registro-fondo-inferior {
    display: none;
  }

  .registro-container {
    width: 100%;
    margin-top: 0;
    padding: 1.5rem;
    border-radius: 0;
  }
}
