@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* CONTENEDOR GENERAL */
.registro-fondo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: "Montserrat", sans-serif;
  padding: 2rem 0;
  background-size: 100% 50%;
  background-position: top;
  overflow-x: hidden;
}
.fondo-superior {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: url("logo/fondo3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 0;
}

.fondo-inferior {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #f7a658;
  z-index: 0;
}

/* CAJA BLANCA */
.registro-container {
  position: relative;
  background: white;
  padding: 2rem;
  border-radius: 0.8rem;
  width: 90%;
  max-width: 25rem;
  text-align: center;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* LOGO */
.registro-header img {
  width: 120px;
}

/* TIPO DE PERSONA */
.tipo-persona {
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.tipo-persona label {
  display: block;
  margin-top: 0.5rem;
  cursor: pointer;
  font-weight: 600;
}

/* FORM SCROLL */
.form-scroll {
  max-height: 45vh;
  overflow-y: auto;
  padding-right: 0.5rem;
}

/* FORMULARIOS */
.form-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-section label {
  text-align: left;
  font-weight: 600;
  font-size: 0.85rem;
  margin-bottom: -0.3rem;
}

.form-section input {
  padding: 0.75rem;
  border-radius: 2rem;
  border: none;
  background-color: gray;
  color: white;
  font-size: 0.9rem;
}

.form-section input::placeholder {
  color: rgba(255,255,255,0.7);
}

.oculto {
  display: none;
}

/* TÉRMINOS */
.terminos {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.85rem;
  margin-top: 1rem;
}

/* BOTÓN REGISTRO */
.registro-boton button {
  width: 100%;
  padding: 0.75rem;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.registro-boton button:hover {
  background-color: gray;
}

/* RESPONSIVEEEEEEEEEEEE */
@media (max-width: 600px) {
  .registro-container {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    padding: 1.5rem;
    margin-top: 3rem;
  }

  .form-scroll {
    max-height: 55vh;
  }
}
