@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.topheader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  z-index: 1000;
}
.logo{
  cursor:pointer
}
.Menu-Horizontal {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10rem;
  font-family: "Montserrat", sans-serif;
}
.Menu-Horizontal li {
  padding: 0.4rem 0.8rem;
}
.Menu-Horizontal li a {
  color: black;
  display: block;
  text-decoration: none;
  padding: 0;
  border-radius: 0.4rem;
}

.Menu-Horizontal li a:hover {
  color: white;
  background-color: orange;
}

.Menu-Vertical {
  padding: 0;
  position: absolute;
  display: none;
  list-style: none;
  width: 11rem;
  background-color: white;
  z-index: 2000;
}
.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}
.Menu-Vertical li a {
  padding: 0.938rem 0.938rem 0.938rem 1.25rem;
}

.buscador-general {
  position: fixed;
  top: 6rem;
  left: 0;
  padding: 0.8rem 1.25rem;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
  z-index: 900;
  background-color: white;
}
.barra {
  display: flex;
  align-items: center;
  background: white;
  padding: 0.4rem 0.6rem;
  width: 100%;
  max-width: 1351px;
  gap: 0.5rem;
  padding: 0 1rem;
}
.barra input {
  font-family: "Montserrat", sans-serif;
  flex: 1;
  width: 100%;
  padding: 0.5rem;
  border-radius: 1.25rem;
  border: 0.18rem solid orange;
}
.barra input:focus {
  border-color: orange;
  outline: none;
}
.filter-btn {
  background: none;
  border: none;
  padding: 0.45rem;
  cursor: pointer;
}

.filter-btn img {
  width: 1.875rem;
  height: 1.875rem;
}
